* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #33475B;
}

.w1400 {
  width: 1400px;
  margin: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nav-top {
  width: 100%;
  height: 80px;
  background-color: #F4F9FD;
  border-bottom: 1px solid #32495b;
}

.nav-bottom {
  width: 100%;
  height: 80px;
}

.nav-top-left {
  float: left;
  padding: 30px 30px 30px 0px;
  text-align: left;
}

.border {
  border-right: 2px solid #899397;
  padding-right: 20px;
}

.contact {
  margin-left: 20px;
}

.nav-top-right {
  float: right;
  text-align: right;
  padding: 30px 0px 30px 30px;
}

header a {
  text-decoration: none;
}

.nav-top-left a {
  color: #33475B;
}

.search {
  color: #00a4bd;
  font-size: 14px;
}

.login {
  font-size: 14px;
  color: #fe785a;
  border: 1px solid #fe785a;
  border-radius: 5px;
  padding: 11px 10px;
  background: #fafcfe;
  margin-left: 20px;
}

.login:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.getsmall {
  font-size: 14px;
  color:  #fafcfe;
  border: 1px solid #fe785a;
  border-radius: 5px;
  padding: 11px 10px;
  background: #fe785a;
  margin-left: 20px;
}

.getsmall:hover {
  background-color: rgba(254, 120, 90, .8);
}

.nav-bottom-left {
  float: left;
  padding: 30px 30px 30px 0px;
  text-align: left;
}

.nav-bottom-right {
  float: right;
  text-align: right;
  padding: 30px 0px 30px 30px;
}

.nav-bottom-right a {
  color: #33475B;
  margin-left: 20px;
}

.nav-bottom-right i {
  margin-left: 20px;
}
